In [1]:
# 本节以下列方式导入 Pandas 与 NumPy：

import numpy as np
import pandas as pd

In [2]:
# 生成对象
# 用值列表生成 Series 时，Pandas 默认自动生成整数索引：
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
# 用含日期时间索引与标签的 NumPy 数组生成 DataFrame：
dates = pd.date_range('20200901', periods=6)
dates

DatetimeIndex(['2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2020-09-01 -0.560103 -0.517163 -0.617410  3.110960
2020-09-02 -0.087784 -1.001313 -1.100237 -1.006442
2020-09-03 -0.908380  0.238844  1.860398 -0.731907
2020-09-04 -0.909486 -0.035806  0.184220 -0.287677
2020-09-05 -1.362793  0.265330 -0.227682 -1.249590
2020-09-06 -1.166163 -0.276242 -0.683033 -0.139331